#loginbox {
  width: 100%;
  height: 100%;
  min-width: 1200px;
  position: relative;
  .loginbg{
    width: 100%;
    height: 420px;
    min-width: 1200px;
    position: absolute;
    top:120px;
    left: 0;
    z-index: 0;
    background: url('../images/loginbig.png') center center;
    background-size: cover;
  }
  .login {
    margin: 0 auto;
    height: 100%;
    width: 1200px;
    .logintop {
      position: relative;
      width: 100%;
      height: 120px;
      z-index: 999;
      .loginlogo{
        display: block;
        width: 226px;
        height: 45px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: url('./../images/hdl_logo.png');
        background-size: cover;
      }
      .loginlogoplus{
        width: 1px;
        height: 1px;
        background: url('../../pub/images/mains.png') -1px -1px;
      }
    }
    .loginmid {
      z-index: 999;
      width: 100%;
      height: 420px;
      position: relative;
      .giveme{
        width: 185px;
        height: 125px;
        background: red;
        position: absolute;
        left: 0;
        top: 110px;
        background: url('./../images/giveme.png');
        background-size: cover;
      }
      .userlogin{
        position: absolute;
        top: 62px;
        right: 90px;
        height: 300px;
        width: 320px;
        background: rgb(243, 243, 243);
        border-radius: 6px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        li {
          width: 80%;
          height: 36px;
          margin-top: 5px;
          line-height: 28px;
          font-size: 12px;
          button.dengl {
            height: 36px;
            width: 256px;
            /*background: url('../../img/dengl.png');
            background-size: 236px 36px;*/
            color: #fff;
            background: #f7735e;
          }
        }
        .wrong {
          color: red;
          font-size: 10px;
          line-height: 16px;
          height: 16px;
          display: flex;
          flex-direction: row;
          .please {
            /*margin-left: 17px;*/
            height: 16px;
            width: 180px;
          }
          div {
            height: 100%;
            width: 100%;
            /*background: url("../../img/tanhao.png") no-repeat;*/
            background-size: 16px 16px;
            display: flex;
            align-items: center;
            .basetanhao{
              display: block;
              width: 16px;
              height: 16px;
              background: #ff4848;
              color: #fff;
              border-radius: 50%;
              text-align: center;
            }
          }
        }
        .logword {
          background: rgb(243, 243, 243);
          margin-left: -15px;
          font-size: 18px;
          font-weight: bold;
          margin-top: 15px;
        }
        .picode {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          img {
            display: block;
            width: 120px;
            height: 100%;
            margin-left: 10px;
            cursor: pointer;
          }
        }
        .afterLogin{
          width: 100%;
          height: 100%;
          text-align: center;
          line-height: 300px;
          font-size: 22px;
          color: red;
        }
      }

    }
    .loginfoot {
      width: 100%;
      height: 118px;
    }
  }
}