#app{
  width: 100%;
  min-width: 1200px;
  height: 100%;
  margin: 0;
  background: #fff;
  .app_header{
    height: 40px;
    width: 100%;
    background: #fff;
    min-width: 1200px;
  }
  .app_content{
    height: calc(100% - 40px);
    min-height: calc(100% - 40px);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    // margin:20px 20px 0 20px;
    // width: calc(100%-40px);
    min-width: 1200px;
    .side_nav{
      height:100%;
    }
    .routercontent{
      width:80%;
      // height: calc(100% - 40px);
      // height: 100%;
      width:80%;
      flex: 1;
      padding: 10px 10px 10px 14px;
      overflow-y: scroll;
      background: #eff2f7;
      .c8492a6{
        color: #8492a6;
      }
      //.el-input{
      //  height: 36px;
      //}
      //.el-input__inner{
      //  height: 36px;
      //
      //}
      .c00a0ff{
        background: #00a0ff;
      }
      .c6bb3f9{
        color: #6bb3f9;
      }
      .w10{
        width: 10px;
      }
      .w180{
        width: 180px;
        height: 100%;
      }
      .mlf10{
        margin-left: -10px;
      }
      .ml0{
        margin-left: 0px !important;
      }
      .mt0{
        margin-top: 0px !important;
      }
      .mb0{
        margin-bottom: 0px !important;
      }
      .mt10{
        margin-top: 10px;
      }
      .mb26{
        margin-bottom: 26px;
      }
      .mb20{
        margin-bottom: 20px;
      }
      .mb23{
        margin-bottom: 23px;
      }
      .mb30{
        margin-bottom: 30px;
      }
      .mb40{
        margin-bottom: 40px;
      }
      .mb24{
        margin-bottom: 24px;
      }
      .mb26{
        margin-bottom: 26px;
      }
      .mb18{
        margin-bottom: 18px;
      }
      .mb10{
        margin-bottom: 10px;
      }
      .mb13{
        margin-bottom: 13px;
      }
      .mt28{
        margin-top: 28px;
      }
      .mt14{
        margin-top: 14px;
      }
      .ml15{
        margin-left: 15px;
      }
      .mr20{
        margin-right: 20px;
      }
      .mr28{
        margin-right: 28px;
      }
      .padt30{
        padding-top: 30px;
      }
      .padt14{
        padding-top: 14px;
      }
      .padt20{
        padding-top: 20px;
      }
      .padl20{
        padding-left: 20px;
      }
      .padb30{
        padding-bottom: 30px;
      }
      .padt40{
        padding-top: 40px;
      }
      .padl20{
        padding-left: 20px;
      }
      .padr40{
        padding-right: 40px;
      }
      .c7e8a9b{
        color: #7e8a9b;
      }
      .el-dragger__cover__interact{
        display: none;
      }
      .el-dragger__cover__title{
        display: none;
      }
      .el-upload__file__name{
        display: none;
      }
      .cred{
        color: red;
        margin-right: 3px;
      }
      .bold {
        font-weight: bold;
      }
      .fs16{
        font-size: 16px;
      }
      .pointer{
        cursor: pointer;
      }
      .bordernone{
        border: none !important;
      }
      .borderright{
        border-right: 1px solid #04a0ff;
      }
      .tcenter{
        text-align: center !important;
      }
      .blockpage {
        position: absolute;
        bottom: 17px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .pagedetail {
          margin-right: 20px;
        }
      }
      .cattable {
        box-sizing: border-box;
        width: calc(100% - 40px);
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 100px;
        line-height: 36px;
        .pp {
          /*background: red;*/
          display: none;
        }
        .p1 {
          border-right: 1px solid #04a0ff;
          width: 36px;
          text-align: center;
        }
        .p2 {
          border-right: 1px solid #04a0ff;
          // width: 36px;
          text-align: center;
        }
        .disblk{
          display: block !important;
          // background: red;
        }
        .displayblk{
          display: block;
          // background: red;
        }
        .displaynone{
          display: none;
          // background: red;
        }
        .el-table {
          /*width: calc(100%-20px);*/
          margin-right: -20px;
        }
        div.cell {
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
        .disblk {
          width: 36px !important;
          text-align: center;
          display: block !important;
          color: #04a0ff;
          height: 14px;
          line-height: 14px;
          cursor: pointer;
          /*// background: red;*/
        }
        .catlist {
          width: 100%;
          border-bottom: 1px solid #999;
          display: flex;
          flex-direction: row;
          align-items: center;

          li {
            width: 80%;
            text-align: center;
          }
          .flex5 {
            flex: 5;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            p {
              // display: none;
              height: 14px;
              line-height: 14px;
              // width: 50px;
              cursor: pointer;
            }
            p.p2 {
              // border-left: 1px solid #999;
              border-right: 1px solid #999;
            }
            p.p1 {
              border-right: 1px solid #999;
            }
          }
          .flex3 {
            flex: 3;
            width: 50%;
          }
          .flex2 {
            flex: 2
          }
          .flex4 {
            flex: 4
          }
        }
        .catlisttitle {
          height: 42px;
          background: #e5e9f2;
          border: none;
          text-align: center;
        }
        .catlistcontent {
          border-bottom: 1px solid #e5e9f2;
          border-left: 1px solid #e5e9f2;
          border-right: 1px solid #e5e9f2;
          .makeelli {
            /*width: 80%;*/
            // white-space: nowrap;
            // overflow: hidden;
            // text-overflow: ellipsis;
          }
          &:nth-child(odd) {
            background: #f9fafc;
          }
          li{
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .bold {
          font-weight: bold;
        }
      }

    }
  }

}
#reader{
  display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}
/*
.el-table::before {
    height: 0px !important;
  }*/
